/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: Akkurat;
	src: url("../fonts/akkurat/Akkurat.otf");
}

* {
	font-family: Akkurat;
}

a {
	text-decoration: none;
	color: #fff;
}

/* dimensions */
$max-width: 1024px;
$pad-correction: 20px;

/* colors */
$gray1: #404040;
$gray2: #333333;

$orange1: #ffa600;
$orange2: #ffb600;

$blue1: #66ccc6;
$blue2: #3abebe;

$green1: #40bb6a;
$green2: #78ce7e;

$gray3: #7b7979;


@mixin content-center {
	max-width: $max-width;
	margin: auto;
}


.section-header {
	@include content-center;
	height: 30px;
	width: $max-width - 2 * $pad-correction;
	padding: 25px $pad-correction;
}

.section-content {
	@include content-center;

}

.dummy-background, 
.dummy-background-1, 
.dummy-background-2 {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	z-index: -1;
}


/*** Section Styles ***/

/* ### HOME ### */
section#home {
	width: 100%;
	margin-bottom: -6px;


	#home_header {
		position: fixed;
		width: 100%;
		z-index: 2;

		.dummy-background-1 {
			background: $gray1;
			height: 50%;
		}

		.dummy-background-2 {
			background: $gray2;
			height: 50%;
			top: 50%;
		}

		.header-logo, .header-nav {
			position: relative;
			z-index: 10;
		}

	}

	.section-header {
		margin: auto;

		.header-logo {
			float: left;
			-webkit-transform: scale(1,1.5);
			-moz-transform: scale(1,1.5);
			-ms-transform: scale(1,1.5);
			-o-transform: scale(1,1.5);
			transform: scale(1,1.5);
			

			font-size: 24px;
			font-weight: bold;
			a {
				margin: 0;
				padding: 0;
			}
		}

		.header-nav {
			display: inline-block;


			font-weight: bold;
			font-size: 14px;
			text-align: center;

			height: 100%;
			padding-top: 6px;
			vertical-align: middle;

			span {

				float: right;
				display: inline-block;

				vertical-align: middle;

			}
		}
	}

	.section-content {
		img#front-cover {
			max-width: 100%;
			margin-top: 80px;
		}


	}

}

/* ### WHAT ### */
section#what {
	border-style: solid;
	border-width: 0px 0px 7px;

	-webkit-border-image: url(../img/triangle-gray.png) 0 0 7 fill repeat;
	-moz-border-image:  url(../img/triangle-gray.png) 0 0 7 fill repeat;
	-o-border-image: url(../img/triangle-gray.png) 0 0 7 fill repeat;
	border-image: url(../img/triangle-gray.png) 0 0 7 fill repeat;


	#what_header.dummy-separator {
		position: relative;

		border-style: solid;
		border-width: 7px 0px 0px;

		-webkit-border-image: url(../img/triangle-orange.png) 7 0 0 fill repeat;
		-moz-border-image:  url(../img/triangle-orange.png) 7 0 0 fill repeat;
		-o-border-image: url(../img/triangle-orange.png) 7 0 0 fill repeat;
		border-image: url(../img/triangle-orange.png) 7 0 0 fill repeat;


		.dummy-background-1 {
			height: 50%;
			top: 0;
			background: $orange1;
		}

		.dummy-background-2 {
			height: 50%;
			top: 50%;
			background: $orange2;
		}
	}

	& > .dummy-background-1 {
		position: relative;
		z-index: 0;

		.dummy-background-2 {
			position: absolute;
			width: 50%;
			left: 50%;
			background: $orange2;
		}
	}


	& > .dummy-background-2 {
		position: relative;
		background: #4c4c4c;
		z-index: 0;

		border-radius: 100px 0px 0px 0px;
	}

	.section-content {
		z-index: 2;


		.content-title {
			background: $orange2;

			position: relative;

			div.content-left {
				background: white;
				padding: 50px 60px 40px 50px;
				height: 100%;
				min-height: 100%;
				width: 50%;
				position: absolute;

				-webkit-border-radius: 0px 100px 0px 0px;
				-moz-border-radius: 0px 100px 0px 0px;
				border-radius: 0px 100px 0px 0px;

				overflow: hidden;

				h1 {
					/*font-size: 56px;*/
					/*width: 80%;*/
					line-height: 1em;
					color: $orange1;
					margin: 0;
					overflow: hidden;
				}
				hr {
					height: 3px;
					background-color: $orange2;
					border: 0;
					width: 55%;
					margin: 20px 0px;
				}
				p { 
					font-size: 12px;
					color: #4c4c4c;
					overflow: hidden;
				}

			}

			div.content-right {
				background: white;
				left: 50%;
				position: relative;
				height: inherit;
				width: 50%;
				padding: 50px 50px 50px 80px;
				z-index: 1;


				.dummy-background {
					top: 0;
					background: $orange2;

					-webkit-border-radius: 0px 0px 0px 100px;
					-moz-border-radius: 0px 0px 0px 100px;
					border-radius: 0px 0px 0px 100px;
				}

				img {
					max-width: 100%;
					height: auto;

					align: middle;
				}
			}
		}

		.content-list {

			padding: 0px 20px 40px 20px;

			-webkit-border-radius: 100px 0px 0px 0px;
			-moz-border-radius: 100px 0px 0px 0px;
			border-radius: 100px 0px 0px 0px;

			.list-item {
				padding-top: 90px;


				@media only screen and (max-width: 600px) {
					padding-top: 30px;
				}
			}


			img {
				width: auto;
				max-height: 150px;
				height: 110px;  /* add span with 100px and make this auto */
				overflow: visible;
			}

			h2, p { color: white; }

			h2 {
				font-weight: bold;
				font-size: 95%;
				margin: 30px 50% 0px 0px;
			}

			p {
				font-size: 12px;
			}

			.expander {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

				color: white;
				height: 20px;
				width: 20px;
				
				&:hover {
					cursor: pointer;
					cursor: hand;
				}
			}

		}

	}

}


/* ### WHO ### */
section#who {
	position: relative;
	z-index: 0;

	#who_header {
		position: relative;

		.dummy-background-1, .dummy-background-2 {
			background: $blue1;
		}
	}

	& > .dummy-background-1 {
		position: relative;
		background: $blue2;
	}

	& > .dummy-background-2 {
		position: relative;
		background: white;
	}

	.section-content {

		.content-list {
			padding: 50px 20px 0px 20px;

			img {
				display: block;
				width: auto;
				max-height: 200px;
				margin: auto;

				&:hover {
					-webkit-filter: drop-shadow(0px 0px 35px white);
					-moz-filter: url(../img/drop-shadows.svg#drop-shadow); /* #FIXME */
					filter: drop-shadow(0px 0px 35px white);
				}

			}
		}
		
		.content-title {
			height: 400px;  /*TO REMOVE */

			.dummy-background {
				background-color: white;
			}
		}
	}
}

section#news {
	position: relative;

	#news_header {
		position: relative;

		.dummy-background-1, .dummy-background-2 {
			background: $green1;
		}
	}



	.section-content {
		background: white;

		.dummy-background {
			background: white;
		}

		.content-title {
			padding: 35px 20px 50px 20px;

			 span {
			 	display: block;
			 	font-size: 12px;
			 }

			 .list-item  {
			 	@media only screen and (max-width: 600px) {
			 		padding-bottom: 30px;
			 	}
			 }

			.item-header {
				color: $green1;
				font-weight: bolder;
				font-size: 18px;
				line-height: 18px;
			}

			.item-date {
				font-weight: bold;
				margin-top: 5px;
			}

			.item-source {
				margin-bottom: 5px;
			}
		}

	}
}

section#partners {
	position: relative;

	.dummy-background-1, .dummy-background-2, .dummy-background {
		background: $gray3;
	}

	.section-content {

		.content-list {
			padding: 20px 20px 50px 20px;
			
			.list-item {
				color: white;

				@media only screen and (max-width: 600px) {
					padding-bottom: 50px;
				}

				span {
					display: block;
				}

				.item-img {
					height: 160px;
					width: 160px;

					background-color: white;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border-radius: 100px;

					display: table-cell;
				    text-align: center;
				    vertical-align: middle;
				}

				.item-header {
					margin-top: 20px;
					margin-bottom: 5px;

					text-transform: uppercase;
					font-weight: bolder;
				}

				.item-content {
					margin-bottom: 10px;

					font-size: 12px;
				}

				.item-link {
					font-size: 18px;
				}

			}
		}
	}
}

footer {
	background-color: #333333;

	position: relative;

	text-transform: uppercase;
	font-size: 12px;

	.dummy-background {
		background: #333333;
	}

	.footer-content {
		@include content-center;

		.content-list {
			padding: 50px 20px 50px 20px;

			#site_map {
				display: inline-block;


				span {
					a {
						color: #d0d0d0;
					}
					display: block;
				}

				span.header a {
					color: white;
				}
			}
			.langs {
				display: inline-block;
				color: #d0d0d0;

				span {
					display: block;
				}
			}

			.three-dots-0o {
				div {
					height: 30px;
					width: 30px;
					margin-right: 5px;
					display: inline-block;
					float: right;
					
					-webkit-border-radius: 30px;
					-moz-border-radius: 30px;
					border-radius: 30px;

					background-color: white;
				}

			}
		}
	}

	


}


/* ==========================================================================
   End of Author's custom styles
   ========================================================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
