/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: Akkurat;
  src: url("../fonts/akkurat/Akkurat.ttf"); }

a {
  text-decoration: none;
  font-family: Akkurat;
  color: #fff; }

/* dimensions */
/* colors */
/*** For every section topic ***/
.section-topic {
  width: 100%;
  margin: auto;
  display: inline-block; }

header.section-header {
  max-width: 1024px;
  margin: auto;
  height: 30px;
  width: 984px;
  padding: 25px 20px; }

section.section-content {
  max-width: 1024px;
  margin: auto; }

/*** Individual styles for each section topic ***/
/* ### HOME ### */
section#home {
  width: 100%; }
  section#home .dummy-background-header {
    /* the background with two colors */
    background: #404040;
    background: -moz-linear-gradient(top, #404040 0%, #404040 50%, #333333 50%, #333333 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #404040), color-stop(50%, #404040), color-stop(50%, #333333), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #404040 0%, #404040 50%, #333333 50%, #333333 100%);
    background: -o-linear-gradient(top, #404040 0%, #404040 50%, #333333 50%, #333333 100%);
    background: -ms-linear-gradient(top, #404040 0%, #404040 50%, #333333 50%, #333333 100%);
    background: linear-gradient(to bottom, #404040 0%, #404040 50%, #333333 50%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2, GradientType=0 );
    position: fixed;
    width: 100%; }
    section#home .dummy-background-header .header-logo, section#home .dummy-background-header .header-nav {
      position: relative;
      z-index: 10; }
  section#home .section-header {
    margin: auto; }
    section#home .section-header .header-logo {
      float: left;
      font-size: 24px; }
      section#home .section-header .header-logo a {
        margin: 0;
        padding: 0; }
    section#home .section-header .header-nav {
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      height: 100%;
      padding-top: 6px;
      vertical-align: middle; }
      section#home .section-header .header-nav span {
        float: right;
        display: inline-block;
        vertical-align: middle; }
  section#home .section-content img#front-cover {
    max-width: 100%;
    margin-top: 80px; }

/* ### WHAT ### */
section#what .dummy-background-header {
  /* the background with two colors */
  background: #ffa600;
  background: -moz-linear-gradient(top, #ffa600 0%, #ffa600 50%, #ffb600 50%, #ffb600 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffa600), color-stop(50%, #ffa600), color-stop(50%, #ffb600), color-stop(100%, #ffb600));
  background: -webkit-linear-gradient(top, #ffa600 0%, #ffa600 50%, #ffb600 50%, #ffb600 100%);
  background: -o-linear-gradient(top, #ffa600 0%, #ffa600 50%, #ffb600 50%, #ffb600 100%);
  background: -ms-linear-gradient(top, #ffa600 0%, #ffa600 50%, #ffb600 50%, #ffb600 100%);
  background: linear-gradient(to bottom, #ffa600 0%, #ffa600 50%, #ffb600 50%, #ffb600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2, GradientType=0 );
  position: relative;
  z-index: 1; }
section#what .dummy-background-content {
  /*background-color: $orange2;*/
  width: 100%; }
section#what .section-content {
  /* TITLE */ }
  section#what .section-content .content-title {
    background: #ffb600;
    background: -moz-linear-gradient(top, #ffb600 0%, #ffb600 50%, white 50%, white 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffb600), color-stop(50%, #ffb600), color-stop(50%, white), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #ffb600 0%, #ffb600 50%, white 50%, white 100%);
    background: -o-linear-gradient(top, #ffb600 0%, #ffb600 50%, white 50%, white 100%);
    background: -ms-linear-gradient(top, #ffb600 0%, #ffb600 50%, white 50%, white 100%);
    background: linear-gradient(to bottom, #ffb600 0%, #ffb600 50%, white 50%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2, GradientType=0 ); }
    section#what .section-content .content-title div.content-left {
      background-color: white;
      padding: 80px 60px 0px 50px;
      max-height: 100%;
      overflow: hidden;
      -webkit-border-radius: 0px 100px 0px 0px;
      -moz-border-radius: 0px 100px 0px 0px;
      border-radius: 0px 100px 0px 0px; }
      section#what .section-content .content-title div.content-left h1 {
        font-size: 56px;
        width: 80%;
        line-height: 54px;
        color: #ffa600;
        margin: 0; }
      section#what .section-content .content-title div.content-left hr {
        height: 3px;
        background-color: #ffb600;
        border: 0;
        width: 55%;
        margin: 20px 0px; }
      section#what .section-content .content-title div.content-left p {
        font-size: 14px;
        color: #4c4c4c;
        padding-right: 80px; }
    section#what .section-content .content-title div.content-right {
      background-color: #ffb600;
      max-width: inherit;
      height: inherit;
      padding: 50px 50px 50px 80px;
      -webkit-border-radius: 0px 0px 0px 100px;
      -moz-border-radius: 0px 0px 0px 100px;
      border-radius: 0px 0px 0px 100px; }
      section#what .section-content .content-title div.content-right img {
        max-width: 100%;
        height: auto;
        align: middle; }
  section#what .section-content .content-list {
    background: #4c4c4c;
    padding: 90px 40px 40px 50px;
    -webkit-border-radius: 100px 0px 0px 0px;
    -moz-border-radius: 100px 0px 0px 0px;
    border-radius: 100px 0px 0px 0px; }
    section#what .section-content .content-list img {
      width: auto;
      max-height: 150px; }
    section#what .section-content .content-list h2, section#what .section-content .content-list p {
      color: white; }
    section#what .section-content .content-list h2 {
      font-weight: bold;
      font-size: 95%;
      margin: 30px 50% 0px 0px; }
    section#what .section-content .content-list p {
      font-size: 14px; }

/* ==========================================================================
   End of Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
