/*
Syntax error: Invalid CSS after "...-height: 150px;": expected "}", was "<<<<<<< HEAD"
        on line 361 of main.scss

356: 			}
357: 
358: 			img {
359: 				width: auto;
360: 				max-height: 150px;
361: <<<<<<< HEAD
362: 				height: 110px;
363: =======
364: 				height: 110px;  /* add span with 100px and make this auto *\/
365: >>>>>>> gh-pages
366: 				overflow: visible;

Backtrace:
main.scss:361
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1147:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1078:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:535:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:1121:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/var/lib/gems/1.9.1/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-height: 150px;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 361 of main.scss\A \A 356: 			}\A 357: \A 358: 			img {\A 359: 				width: auto;\A 360: 				max-height: 150px;\A 361: <<<<<<< HEAD\A 362: 				height: 110px;\A 363: =======\A 364: 				height: 110px;  /* add span with 100px and make this auto */\A 365: >>>>>>> gh-pages\A 366: 				overflow: visible;"; }
