@font-face {
  font-family: Akkurat;
  src: url("../../fonts/akkurat/Akkurat.otf");
}

@font-face {
  font-family: Bloo;
  src: url("../../fonts/bloo/blooone.otf");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000311}}
* {
  font-family: Akkurat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000315}}
a {
  text-decoration: none;
  color: #fff;
}

/* dimensions */
/* colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000349}}
.section-header {
  max-width: 800px;
  margin: auto;
  height: 30px;
  width: 760px;
  padding: 25px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000356}}
.section-content {
  max-width: 800px;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000364}}
.dummy-background,
.dummy-background-1,
.dummy-background-2,
.dummy-background-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\000033}}
#contacts {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\000038}}
#contacts #contacts_header .dummy-background-1, #contacts #contacts_header .dummy-background-2 {
  background: #f46d57;
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000315}}
#contacts > .dummy-background-1 {
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000319}}
#contacts > .dummy-background-1 .grid-container {
  padding: 50px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000323}}
#contacts > .dummy-background-1 .content-info {
  color: white;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000327}}
#contacts > .dummy-background-1 .content-info span {
  padding-bottom: 8px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000334}}
#contacts > .dummy-background-1 .content-map {
  height: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000339}}
#contacts > .dummy-background-2 {
  position: relative;
  background: white;
  z-index: 0;
  margin-top: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000346}}
#contacts > .dummy-background-2 .section-content {
  background-color: white;
  background-image: url("../../images/contacts-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000353}}
#contacts > .dummy-background-2 .content-container {
  padding: 50px 20px 50px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000357}}
#contacts > .dummy-background-2 .content-header {
  color: red;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/contacts\.scss}line{font-family:\0000365}}
#contacts > .dummy-background-2 .content {
  font-size: 12px;
}
