@font-face {
  font-family: Akkurat;
  src: url("../../fonts/akkurat/Akkurat.otf");
}

@font-face {
  font-family: Bloo;
  src: url("../../fonts/bloo/blooone.otf");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000311}}
* {
  font-family: Akkurat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000315}}
a {
  text-decoration: none;
  color: #fff;
}

/* dimensions */
/* colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000358}}
.section-header {
  max-width: 800px;
  margin: auto;
  height: 30px;
  width: 760px;
  padding: 25px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000365}}
.section-content {
  max-width: 800px;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/app\.scss}line{font-family:\0000373}}
.dummy-background,
.dummy-background-1,
.dummy-background-2,
.dummy-background-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000315}}
#header #bg-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000320}}
#header #bg-container .bg-top, #header #bg-container .bg-bottom {
  height: 50%;
  width: 100%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000327}}
#header #bg-container .bg-bottom {
  top: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000034}}
#header #bg-container.header-bg-home .bg-top {
  background: #424242;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000038}}
#header #bg-container.header-bg-home .bg-bottom {
  background: #515151;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000034}}
#header #bg-container.header-bg-what .bg-top {
  background: #fcb525;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000038}}
#header #bg-container.header-bg-what .bg-bottom {
  background: #ffc324;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000034}}
#header #bg-container.header-bg-who .bg-top {
  background: #66ccc6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000038}}
#header #bg-container.header-bg-who .bg-bottom {
  background: #3abebe;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000034}}
#header #bg-container.header-bg-news .bg-top {
  background: #40bb6a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000038}}
#header #bg-container.header-bg-news .bg-bottom {
  background: #78ce7e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000034}}
#header #bg-container.header-bg-partners .bg-top {
  background: #f46d57;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\000038}}
#header #bg-container.header-bg-partners .bg-bottom {
  background: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000351}}
#header .content-container .header-logo, #header .content-container .header-nav {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000356}}
#header .content-container .header-logo a {
  font-family: Bloo !important;
  font-size: 2.5em;
  line-height: 80px;
  letter-spacing: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000364}}
#header .content-container .header-nav {
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  padding-top: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000371}}
#header .content-container .header-nav span {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/carsy\/ws\/bright\/styles\/scss\/header\.scss}line{font-family:\0000375}}
#header .content-container .header-nav span a:hover {
  /* refactor font-size and border-width */
}
