
<!-- HEADER -->
<div id="contacts_header">
  <div class="dummy-background-1"></div>
  <div class="dummy-background-2"></div>
  <header class="section-header">
  </header>
</div>

<!-- CONTENT -->
<div class="dummy-background-1">
  <section class="section-content">
    <div class="grid-container">
      <div class="content-info grid-25">
        <span>mail@thebrightinfo.com</span>
        <span>T +351 226 169 080</span>
        <span>4000-049 Porto</span>
        <span>Portugal</span>
      </div>
      <div id="map_canvas" class="content-map grid-75">
        
      </div>
    </div>
  </section>
</div>
<div class="dummy-background-2">
  <section class="section-content">
    <div class="grid-container">
      <div class="content-container grid-35">
        <span class="content-header">Lets work together!</span>
        <span class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eos voluptatibus esse voluptate quibusdam et modi! Possimus, atque, error exercitationem harum delectus sint suscipit iste saepe omnis minima dolorum dolorem!
        </span>
      </div>
    </div>
  </section>
</div> 
