<div class="dummy-background"></div>
<div class="footer-content">
  <div class="content-list grid-container">
    <div id="site_map" class="grid-20">
      <span class="header"><a href="#home">bright</a></span>
      <span><a href="#what">what we do</a></span>
      <span><a href="#who">who we are</a></span>
      <span><a href="#news">news</a></span>
      <span><a href="#partners">partners</a></span>
      <span><a href="#contacts">contacts</a></span>
    </div>
    <div class="langs grid-20 suffix-40">
      <span>pt</span>
      <span>en</span>
      <span>fr</span>
    </div>
    <div class="three-dots-0o grid-20">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>