<div class="bg-container header-bg-home">
  <div class="bg-top"></div>
  <div class="bg-bottom"></div>
  <div class="content-container">
    <span class="header-logo">
      <a href="#home">BRIGHT</a>
    </span>
    <span class="header-nav grid">
      <span class="col-20">
        <a href="#what">What we do</a>
      </span>
      <span class="col-20">
        <a href="#who">Who we are</a>
      </span>
      <span class="col-20">
        <a href="#news">News</a>
      </span>
      <span class="col-20">
        <a href="#contacts">Contacts</a>
      </span>
      <span class="col-20">
        <a href="#partners">Partners</a>
      </span>
    </span>
  </div>
</div>