<div id="bg-container" class="header-bg-home">
  <div class="bg-top"></div>
  <div class="bg-bottom"></div>
  <div class="content-container grid-container">
    <span class="header-logo grid-35 mobile-grid-35">
      <a href="#home">BRIGHT</a>
    </span>
    <span class="header-nav grid-65 mobile-grid-65 grid-parent">
      <span class="grid-20 mobile-grid-20 pull-80 mobile-pull-80">
        <a href="#what">What we do</a>
      </span>
      <span class="grid-20 mobile-grid-20 pull-40 mobile-pull-40">
        <a href="#who">Who we are</a>
      </span>
      <span class="grid-20 mobile-grid-20">
        <a href="#news">News</a>
      </span>
      <span class="grid-20 mobile-grid-20 push-40 mobile-push-40">
        <a href="#partners">Partners</a>
      </span>
      <span class="grid-20 mobile-grid-20 push-80 mobile-push-80">
        <a href="#contacts">Contacts</a>
      </span>
    </span>
  </div>
</div>