
<!-- HEADER -->
<div id="news_header">
  <div class="dummy-background-1"></div>
  <div class="dummy-background-2"></div>
  <header class="section-header">
  </header>
</div>

<!-- CONTENT -->

<div class="dummy-background-1">
  <section class="section-content grid-container">
    <div class="content-title grid-parent grid-100">

      <div class="grid-25 mobile-grid-50">
        <div class="list-item">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
          <span>
            Vodafone atribui 30 mil euros ao primeiro lugar de cada uma das categorias. O segundo ganha 15 mil e o terceiro, cinco mil euros
          </span>
          <div class="expander" data-expander='1'>
            <a href='#news_1' >+</a>
          </div>
        </div>
      </div>
      <div class="grid-25 mobile-grid-50">
        <div class="list-item">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
          <span>
            Vodafone atribui 30 mil euros ao primeiro lugar de cada uma das categorias. O segundo ganha 15 mil e o terceiro, cinco mil euros
          </span>
          <div class="expander" data-expander='2'>
            <a href='#news_2' >+</a>
          </div>
        </div>
      </div>
      <div class="grid-25 mobile-grid-50">
        <div class="list-item">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
          <span>
            Vodafone atribui 30 mil euros ao primeiro lugar de cada uma das categorias. O segundo ganha 15 mil e o terceiro, cinco mil euros
          </span>
          <div class="expander" data-expander='3'>
            <a href='#news_3' >+</a>
          </div>
        </div>
      </div>
      <div class="grid-25 mobile-grid-50">
        <div class="list-item">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
          <span>
            Vodafone atribui 30 mil euros ao primeiro lugar de cada uma das categorias. O segundo ganha 15 mil e o terceiro, cinco mil euros
          </span>
          <div class="expander" data-expander='4'>
            <a href='#news_4' >+</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="dummy-background-2">
  <div id="news_1" class="expanded-content" data-expanded-content="1">
    <div class="section-content grid-container">
      <div class="item-container grid-parent grid-100">
        <div class="header-container grid-30">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
        </div>
        <div class="grid-10">&nbsp;</div>
        <div class="content-container grid-60">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, minima, sed minus sapiente eveniet ab odio laborum cumque voluptates quibusdam nobis earum? Vitae, sequi quos repellendus cum quo eos aspernatur.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, similique qui libero possimus laborum. Nam, rerum excepturi aliquid aut unde placeat magnam at laborum amet enim voluptatibus explicabo consequatur voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, aliquid, illum excepturi unde sunt dolores quaerat sapiente enim rerum ea ab molestias quibusdam inventore incidunt consectetur ipsam in iste autem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ipsum eum cupiditate in ratione excepturi quod natus aliquid nulla illo. Libero, doloribus, ut animi maiores sint ipsam veniam explicabo molestias.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, qui, hic vero aut laudantium quasi provident harum est quo. Dolores illum omnis optio architecto dolorem obcaecati rem saepe esse perferendis?
        </div>
      </div>
    </div>
  </div>
  <div id="news_2" class="expanded-content" data-expanded-content="2">
    <div class="section-content grid-container">
      <div class="item-container grid-parent grid-100">
        <div class="header-container grid-30">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
        </div>
        <div class="grid-10">&nbsp;</div>
        <div class="content-container grid-60">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, minima, sed minus sapiente eveniet ab odio laborum cumque voluptates quibusdam nobis earum? Vitae, sequi quos repellendus cum quo eos aspernatur.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, similique qui libero possimus laborum. Nam, rerum excepturi aliquid aut unde placeat magnam at laborum amet enim voluptatibus explicabo consequatur voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, aliquid, illum excepturi unde sunt dolores quaerat sapiente enim rerum ea ab molestias quibusdam inventore incidunt consectetur ipsam in iste autem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ipsum eum cupiditate in ratione excepturi quod natus aliquid nulla illo. Libero, doloribus, ut animi maiores sint ipsam veniam explicabo molestias.
        </div>
      </div>
    </div>
  </div>
  <div id="news_3" class="expanded-content" data-expanded-content="3">
    <div class="section-content grid-container">
      <div class="item-container grid-parent grid-100">
        <div class="header-container grid-30">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
        </div>
        <div class="grid-10">&nbsp;</div>
        <div class="content-container grid-60">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, explicabo, distinctio dolore nulla est in corporis laborum ullam quo architecto hic nemo labore voluptatibus dignissimos natus eum praesentium? Saepe, quam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, corrupti pariatur eos. Quo, illum, sint deleniti iusto excepturi autem et debitis obcaecati ad dolorum ipsum consequatur ducimus quaerat labore dicta?
        </div>
      </div>
    </div>
  </div>
  <div id="news_4" class="expanded-content" data-expanded-content="4">
    <div class="section-content grid-container">
      <div class="item-container grid-parent grid-100">
        <div class="header-container grid-30">
          <span class="item-header">Cria uma app que ajude as pessoas e concorre a 30 mil euros</span>
          <span class="item-date">22 Julho 2013</span>
          <span class="item-source">P3</span>
        </div>
        <div class="grid-10">&nbsp;</div>
        <div class="content-container grid-60">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, minima, sed minus sapiente eveniet ab odio laborum cumque voluptates quibusdam nobis earum? Vitae, sequi quos repellendus cum quo eos aspernatur.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, similique qui libero possimus laborum. Nam, rerum excepturi aliquid aut unde placeat magnam at laborum amet enim voluptatibus explicabo consequatur voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, aliquid, illum excepturi unde sunt dolores quaerat sapiente enim rerum ea ab molestias quibusdam inventore incidunt consectetur ipsam in iste autem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ipsum eum cupiditate in ratione excepturi quod natus aliquid nulla illo. Libero, doloribus, ut animi maiores sint ipsam veniam explicabo molestias.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, qui, hic vero aut laudantium quasi provident harum est quo. Dolores illum omnis optio architecto dolorem obcaecati rem saepe esse perferendis?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, accusantium eaque quo quis obcaecati. Suscipit, iusto, dicta excepturi quia officiis mollitia eos illum praesentium error odio placeat sunt numquam voluptate!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, animi, deserunt, et minima expedita assumenda ex minus qui dolor accusamus quidem eius mollitia laborum! Architecto quasi nostrum libero soluta iure.
        </div>
      </div>
    </div>
  </div>
</div>
