
<!-- HEADER -->
<div id="partners_header">
  <div class="dummy-background-1"></div>
  <div class="dummy-background-2"></div>
  <header class="section-header">
  </header>
</div>

<!-- CONTENT -->
<div class="dummy-background-1">
  <section class="section-content" id="partners_content">
    <div class="content-list grid-container">
      <div class="grid-25 list-item mobile-grid-50">
        <div class="item-img">
          <img src="images/partners-item1.png" alt="">
        </div>
        <span class="item-header">white studio</span>
        <span class="item-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, quaerat, ipsa aliquid alias facere maiores ullam temporibus hic molestiae error voluptates iste suscipit eius pariatur repudiandae assumenda incidunt earum aperiam!
        </span>
        <span class="item-link">
          <a href="http://www.whitestudio.pt">www.whitestudio.pt</a>
        </span>
      </div>
      <div class="grid-25 list-item mobile-grid-50">
        <div class="item-img">
          <img src="images/partners-item2.png" alt="">
        </div>
        <span class="item-header">
          ipo porto e clínica de mama
        </span>
        <span class="item-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, aspernatur, ea, quisquam delectus expedita debitis odio unde veniam error eos eveniet natus dolore libero voluptates porro aperiam illum amet enim!
        </span>
        <span class="item-link">
          <a href="http://www.ipoporto.pt">www.ipoporto.pt</a>
        </span>
      </div>
      <div class="grid-25 list-item mobile-grid-50">
        <div class="item-img">
          <img src="images/partners-item3.png" alt="">
        </div>
        <span class="item-header">universidade do porto</span>
        <span class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, hic odio veniam saepe delectus voluptate ea laudantium magni facere odit dolor omnis corrupti corporis itaque deserunt modi molestias. Rerum, quas!</span>
        <span class="item-link">
          <a href="http://www.up.pt">www.up.pt</a>
        </span>
      </div>
      <div class="grid-25 list-item mobile-grid-50">
        <div class="item-img">
          <!--<img src="images/partners-item4.png" alt="">-->
        </div>
        <span class="item-header">outro</span>
        <span class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, qui, mollitia, recusandae temporibus cumque alias necessitatibus ad voluptatibus vero molestiae unde natus. Vel, esse debitis enim doloribus maiores corrupti dignissimos.</span>
        <span class="item-link">
          <a href="">www.outro.pt</a>
        </span>
      </div>
    </div>
  </section>
</div>

<div class="dummy-background-2">
  <section class="section-content" id="clients_content">
    <div class="content-list grid-container">
      <div class="grid-25 list-item mobile-grid-100">
        <span class="item-header">Our Clients</span>
        <span class="item-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quo, qui saepe possimus adipisci assumenda nam fugit explicabo dolorem accusantium temporibus sunt repellat voluptatum. Amet expedita adipisci laudantium eum natus.</span>
      </div>
      <div class="grid-75 list-item mobile-grid-100 grid-parent">
        <div class="grid-33"><img src="images/clients-item1.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item2.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item3.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item4.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item5.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item6.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item7.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item8.png" alt=""></div>
        <div class="grid-33"><img src="images/clients-item9.png" alt=""></div>
      </div>
    </div>
  </section>

</div>
