<div class="bg-container">
  <div class="bg-right bg-white"></div>
  <div class="bg-right bg-yellow"></div>

  <div class="content-container">
    <div class="bg-left bg-yellow"></div>
    <div class="content-left">
      <h1>Your health is our main priority!</h1>
      <hr>
      <p >A BRIGHT tem como principal objetivo o desenvolvimento de plataformas fisicas e digitais, de acompanhamento à comunicação em saúde e de auxilio clinico, contribuindo para o bem-estar dos doentes.</p>
    </div>

    <div class="content-right">
      <div class="img"></div>
    </div>
  </div>

</div>

<div class="dummy-background-2">
  <div class="section-content">
    <div class="content-list">

      <div class="list-item">
        <img src="images/what-item1.png" alt="">
        <h2>BREAST CANCER</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, nobis, reprehenderit eum veniam omnis officia atque earum sapiente mollitia porro quisquam explicabo ea molestias provident velit id nisi temporibus. Vero!</p>
        <div class="expander" data-expander='1'>
          <a href='#what_project1' >+</a>
        </div>
      </div>
      <div class="list-item">
        <img src="images/what-item2.png" alt="">
        <h2>PEDIATRIC ONCOLOGY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, praesentium, animi, obcaecati, earum quas dicta saepe id labore doloremque fugiat ipsum at reiciendis dignissimos accusamus excepturi rerum ratione? Adipisci, non?</p>
        <div class="expander" data-expander='2'>
          <a href='#what_project2' >+</a>
        </div>
      </div>
      <div class="list-item">
        <img src="images/what-item3.png" alt="">
        <h2>HIV</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, hic, distinctio, a, cum repudiandae accusantium ab beatae ea cumque sint commodi omnis officia non. Ut dicta voluptatum eos natus placeat!</p>
        <div class="expander" data-expander='3'>
          <a href="#what_project3">+</a>
        </div>
      </div>
      <div class="list-item">
        <img src="images/what-item4.png" alt="">
        <h2>ARCHIVE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, repudiandae, illum, incidunt nam hic assumenda recusandae perspiciatis ullam debitis mollitia cum iusto voluptatum. Ratione, nostrum, esse eius autem enim voluptatum.</p>
        <div class="expander" data-expander='4'>
          <a href="#what_project4">+</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dummy-background-3">
  <div id="what_project1" class="expanded-content" data-expanded-content="1">
    <div class="section-content">
      <div class="item-container">
        <span class="item-header">Breast Cancer</span>
        <hr>
        <span class="item-content">
          Queremos melhorar o bem estar das pessoas que passam por esta terrivel doença, bem como ajudar quem mais os apoia no difícil processo do tratamento do cancro da mama. Através de plataformas visuais os pacientes e acompanhantes irão compreender melhor a sua situação. Neste espaço disponibilizamos, alem dos nossos servicos, Informação, companhamento Pessoal, Testemunhos e várias ajudas para melhorar a qualidade de vida daqueles que mais precisam.
        </span>
      </div>
    </div>
  </div>

  <div id="what_project2" class="expanded-content" data-expanded-content="2">
    <div class="section-content">
      <div class="item-container">
        <span class="item-header ">Pediatric Oncology</span>
        <span class="">
          <hr>
        </span>
        <span class="item-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, excepturi, asperiores, corporis, iure voluptatibus quaerat tenetur perferendis quod ullam sequi eius distinctio doloribus sed. Expedita, eaque qui dicta quam earum.
        </span>
      </div>
    </div>
  </div>

  <div id="what_project3" class="expanded-content" data-expanded-content="3">
    <div class="section-content">
      <div class="item-container">
        <span class="item-header">HIV</span>
        <span class="">
          <hr>
        </span>
        <span class="item-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, excepturi, asperiores, corporis, iure voluptatibus quaerat tenetur perferendis quod ullam sequi eius distinctio doloribus sed. Expedita, eaque qui dicta quam earum.
        </span>
      </div>
    </div>
  </div>

  <div id="what_project4" class="expanded-content" data-expanded-content="4">
    <div class="section-content">
      <div class="item-container">
        <span class="item-header">ARCHIVE</span>
        <span class="">
          <hr>
        </span>
        <span class="item-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, excepturi, asperiores, corporis, iure voluptatibus quaerat tenetur perferendis quod ullam sequi eius distinctio doloribus sed. Expedita, eaque qui dicta quam earum.
        </span>
      </div>
    </div>
  </div>
</div>