
<!-- HEADER -->
<div id="who_header">
  <div class="dummy-background-1"></div>
  <div class="dummy-background-2"></div>
  <header class="section-header">
  </header>
</div>

<!-- CONTENT -->
<div class="dummy-background-1">
  <section class="section-content grid-container" >
    <div class="content-list grid-parent grid-100 mobile-grid-100">
      <div class="grid-20 mobile-grid-20">
        <img src="images/who-item1.png" alt="" class="list-item selector selected" data-selector="1">
      </div>
      <div class="grid-20 mobile-grid-20">
        <img src="images/who-item2.png" alt="" class="list-item selector" data-selector="2">
      </div>
      <div class="grid-20 mobile-grid-20">
        <img src="images/who-item3.png" alt="" class="list-item selector" data-selector="3">
      </div>
      <div class="grid-20 mobile-grid-20">
        <img src="images/who-item4.png" alt="" class="list-item selector" data-selector="4">
      </div>
      <div class="grid-20 mobile-grid-20">
        <img src="images/who-item5.png" alt="" class="list-item selector" data-selector="5">
      </div>
    </div>
  </section>
</div>

<div class="dummy-background-2">

  <div id="who1" class="selected-content" data-selected-content="1">
    <section class="section-content grid-container" >
      <div class="content-title grid-parent grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-25 list-item">
          <h2>Comunicação</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, perspiciatis, perferendis corporis molestias ipsa quisquam temporibus iusto aut suscipit placeat sunt soluta consectetur totam ea pariatur excepturi doloribus recusandae.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Hernani Zão</h3>
          <p>
            Licenciado em Biologia pelo Instituto Ciências Biomédicas Abel Salazar, da Universidade do Porto; Mestre em Oncologia, pelo IPO-Porto; Licenciado em Ciências da Comunicação, pela Faculdade de Letras da Universidade do Porto.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Raquel Carrilho</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quidem explicabo accusantium iusto eaque laudantium expedita odio laboriosam! Quas, explicabo, suscipit aspernatur earum atque iusto repellat repellendus ex quis autem!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Alguém</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, atque ipsa consequatur sit enim fuga! Veritatis, laboriosam, voluptatibus, doloribus maiores tempora ipsa nobis repudiandae commodi ex ab minus debitis laudantium!
          </p>
        </div>
      </div>
    </section>
  </div>

  <div id="who2" class="selected-content" data-selected-content="2">
    <section class="section-content grid-container" >
      <div class="content-title grid-parent grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-25 list-item">
          <h2>Comunicação</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, perspiciatis, perferendis corporis molestias ipsa quisquam temporibus iusto aut suscipit placeat sunt soluta consectetur totam ea pariatur excepturi doloribus recusandae.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Raquel Carrilho</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quidem explicabo accusantium iusto eaque laudantium expedita odio laboriosam! Quas, explicabo, suscipit aspernatur earum atque iusto repellat repellendus ex quis autem!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Hernani Zão</h3>
          <p>
            Licenciado em Biologia pelo Instituto Ciências Biomédicas Abel Salazar, da Universidade do Porto; Mestre em Oncologia, pelo IPO-Porto; Licenciado em Ciências da Comunicação, pela Faculdade de Letras da Universidade do Porto.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Alguém</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, atque ipsa consequatur sit enim fuga! Veritatis, laboriosam, voluptatibus, doloribus maiores tempora ipsa nobis repudiandae commodi ex ab minus debitis laudantium!
          </p>
        </div>
      </div>
    </section>
  </div>
  <div id="who3" class="selected-content" data-selected-content="3">
    <section class="section-content grid-container" >
      <div class="content-title grid-parent grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-25 list-item">
          <h2>Comunicação</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, perspiciatis, perferendis corporis molestias ipsa quisquam temporibus iusto aut suscipit placeat sunt soluta consectetur totam ea pariatur excepturi doloribus recusandae.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Alguém</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, atque ipsa consequatur sit enim fuga! Veritatis, laboriosam, voluptatibus, doloribus maiores tempora ipsa nobis repudiandae commodi ex ab minus debitis laudantium!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Raquel Carrilho</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quidem explicabo accusantium iusto eaque laudantium expedita odio laboriosam! Quas, explicabo, suscipit aspernatur earum atque iusto repellat repellendus ex quis autem!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Hernani Zão</h3>
          <p>
            Licenciado em Biologia pelo Instituto Ciências Biomédicas Abel Salazar, da Universidade do Porto; Mestre em Oncologia, pelo IPO-Porto; Licenciado em Ciências da Comunicação, pela Faculdade de Letras da Universidade do Porto.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div id="who4" class="selected-content" data-selected-content="4">
    <section class="section-content grid-container" >
      <div class="content-title grid-parent grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-25 list-item">
          <h2>Comunicação</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, perspiciatis, perferendis corporis molestias ipsa quisquam temporibus iusto aut suscipit placeat sunt soluta consectetur totam ea pariatur excepturi doloribus recusandae.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Hernani Zão</h3>
          <p>
            Licenciado em Biologia pelo Instituto Ciências Biomédicas Abel Salazar, da Universidade do Porto; Mestre em Oncologia, pelo IPO-Porto; Licenciado em Ciências da Comunicação, pela Faculdade de Letras da Universidade do Porto.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Alguém</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, atque ipsa consequatur sit enim fuga! Veritatis, laboriosam, voluptatibus, doloribus maiores tempora ipsa nobis repudiandae commodi ex ab minus debitis laudantium!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Raquel Carrilho</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quidem explicabo accusantium iusto eaque laudantium expedita odio laboriosam! Quas, explicabo, suscipit aspernatur earum atque iusto repellat repellendus ex quis autem!
          </p>
        </div>
      </div>
    </section>
  </div>

  <div id="who5" class="selected-content" data-selected-content="5">
    <section class="section-content grid-container" >
      <div class="content-title grid-parent grid-100 mobile-grid-100">
        <div class="grid-25 mobile-grid-25 list-item">
          <h2>Comunicação</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, enim, perspiciatis, perferendis corporis molestias ipsa quisquam temporibus iusto aut suscipit placeat sunt soluta consectetur totam ea pariatur excepturi doloribus recusandae.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Hernani Zão</h3>
          <p>
            Licenciado em Biologia pelo Instituto Ciências Biomédicas Abel Salazar, da Universidade do Porto; Mestre em Oncologia, pelo IPO-Porto; Licenciado em Ciências da Comunicação, pela Faculdade de Letras da Universidade do Porto.
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Raquel Carrilho</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quidem explicabo accusantium iusto eaque laudantium expedita odio laboriosam! Quas, explicabo, suscipit aspernatur earum atque iusto repellat repellendus ex quis autem!
          </p>
        </div>
        <div class="grid-25 mobile-grid-25 list-item">
          <h3>Alguém</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, atque ipsa consequatur sit enim fuga! Veritatis, laboriosam, voluptatibus, doloribus maiores tempora ipsa nobis repudiandae commodi ex ab minus debitis laudantium!
          </p>
        </div>
      </div>
    </section>
  </div>

</div>