@font-face {
	font-family: Akkurat;
	src: url("../../fonts/akkurat/Akkurat.otf");
}

@font-face {
	font-family: Bloo;
	src: url("../../fonts/bloo/blooone.otf");
}

html, body {
  height: 100%;
  width: 100%;
}

* {
	font-family: Akkurat;
}

a {
	text-decoration: none;
	color: #fff;
}

/* dimensions */
$max-width: 800px;
$pad-correction: 20px;
$header-height: 100px;

$margins: 40px;

/* COLORS */

/* backgrounds`*/
$gray1: #333333;
$gray2: #404040;
$home-bg1: $gray1;
$home-bg2: $gray2;

$yellow1: #ffb600;
$yellow2: #fcd23b;
$yellow3: #fcce49;
$what-bg1: $yellow1;
$what-bg2: $yellow2;

$blue1: #66ccc6;
$blue2: #3abebe;
$who-bg1: $blue1;
$who-bg2: $blue2;

$green1: #40bb6a;
$green2: #78ce7e;
$news-bg1: $green1;
$news-bg2: $green2;

$gray3: #7b7979;

$red1: #f46d57;
$red2: #ff0000;
$partners-bg1: $red1;
$partners-bg2: $red2;

/* text colors and stuff */
$text: #4c4c4c;

/* MIXINS */

@mixin content-center {
	max-width: $max-width;
	margin: auto;
}

/* media queries mixins */

@mixin mq-height($width, $height) {
  @media screen and (max-width: $width) {
    height: $height;
  }
}

@mixin mq-fz($width, $fz) {
  @include mq-fontsize($width, $fz);
}

@mixin mq-fontsize($width, $fz) {
  @media screen and (max-width : $width) 
  {
    font-size: $fz;
  }
}

@mixin mq-padding($width, $top, $right, $bottom, $left) {
  @media screen and (max-width: $width) {
    padding: $top $right $bottom $right;
  }
}

@mixin mq-hide($width) {
  @media screen and (max-width: $width) {
    display: none;
  }
}


* {
  @include box-sizing(border-box);
}

/* GRIDS */

$pad: 10px;

.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $pad;

  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-60 {
  width: 60%;
}
.col-50 {
  width: 50%;
}
.col-30 {
  width: 30%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}
.col-10 {
  width: 10%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

/* Section Styles */

@import 'header';

@import 'home';

@import 'what';

@import 'who';

@import 'news';

@import 'partners';

@import 'contacts';

@import 'footer';