@import 'media_queries';

@font-face {
	font-family: Akkurat;
	src: url("../../fonts/akkurat/Akkurat.otf");
}

@font-face {
	font-family: Bloo;
	src: url("../../fonts/bloo/blooone.otf");
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  min-width: 220px;
}

* {
	font-family: Akkurat;
}

a {
	text-decoration: none;
	color: #fff;
}

/* dimensions */
$max-width: 800px;
$pad-correction: 20px;

/* COLORS */

/* backgrounds`*/
$gray1: #333333;
$gray2: #404040;
$home-bg1: $gray1;
$home-bg2: $gray2;

$yellow1: #ffb600;
$yellow2: #fcd23b;
$yellow3: #fcce49;
$what-bg1: $yellow1;
$what-bg2: $yellow2;

$blue1: #66ccc6;
$blue2: #3abebe;
$who-bg1: $blue1;
$who-bg2: $blue2;

$green1: #40bb6a;
$green2: #78ce7e;
$news-bg1: $green1;
$news-bg2: $green2;

$gray3: #7b7979;

$red1: #f46d57;
$red2: #ff0000;
$partners-bg1: $red1;
$partners-bg2: $red2;

/* text colors and stuff */
$text: #4c4c4c;

/* MIXINS */

@mixin content-center {
	max-width: $max-width;
	margin: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  
}

/* GRIDS */

$pad: 10px;

.grid {
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  float: right;
  padding-right: $pad;

  .grid &:first-of-type {
    padding-right: 0;
  }
}

.col {
  padding-right: $outer-pad;

  @include break-1024() { padding-right: $outer-pad2; }
  @include break-800() { padding-right: $outer-pad3; }
  @include break-640() { padding-right: $outer-pad4; }
  @include break-480() { padding-right: $outer-pad5; }
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  .col:last-of-type {
    padding-right: $pad;
  }
}

.content-container {
  @include min-break-1280() {
    max-width: 80%;
    margin: auto;
  }
}


/* Section Styles */

@import 'header';

@import 'home';

@import 'what';

@import 'who';

@import 'news';

@import 'partners';

@import 'contacts';

@import 'footer';