@mixin header-bg($top-color, $bottom-color) {
	.bg-top {
		background: $top-color;
	}

	.bg-bottom {
		background: $bottom-color;
	}
}

#header {

	.content-container {
		z-index: 1;
		position: fixed;
		width: 100%;
		height: $header-height;

		@include mq-header-breakpoints();

		.bg-top, .bg-bottom {
			position: absolute;

			height: 50%;
			width: 100%;
		}

		.bg-bottom {
			top: 50%;
		}

		&.header-bg-home {
			@include header-bg($home-bg1, $home-bg2);
		}
		&.header-bg-what {
			@include header-bg($what-bg1, $what-bg2);
		}
		&.header-bg-who {
			@include header-bg($who-bg1, $who-bg2);
		}
		&.header-bg-news {
			@include header-bg($news-bg1, $news-bg2);
		}
		&.header-bg-partners {
			@include header-bg($partners-bg1, $partners-bg2);
		}

		.header-logo, .header-nav {
			position: relative;
			height: $header-height;
			line-height: $header-height;

			@include mq-header-breakpoints();
		}

		@include break-380() {
			text-align: center;
		}

		.header-logo {
			float: left;

			@include outer-left-pad();

			@include break-380() {
				padding-left: 0px;
				float: none;
			};

			a {
				font-family: Bloo !important;
				letter-spacing: 4px;
				font-size: 3.5em;

				@include mq-fz($break-1024px, 3em);
				@include mq-fz($break-800px, 2em);
				@include mq-fz($break-640px, 1.5em);
			}
		}

		.header-nav {
			font-weight: bold;
			text-align: center;
			float: right;
			
  		@include outer-right-pad();
  		@include break-380() { display: none; };

			a {
				font-size: 1em;

				@include mq-fz($break-1024px, 0.9em);
				@include mq-fz($break-800px, 0.6em);
				@include mq-fz($break-640px, 0.5em);
			}
		}
	}
}