#what {

	.bg-container {
		position: relative;
	}

	.bg-right-white, .bg-right-yellow, .bg-left-white, .bg-left-yellow {
		width: 50%;
		position: absolute;
		z-index: -1;
		height: 100%;

		&.bg-left-white, &.bg-left-yellow {
			left: 0;
		}

		&.bg-right-white, &.bg-right-yellow {
			left: 50%;
		}

		&.bg-right-white {
			background: white;
			z-index: -2;
		}

		&.bg-right-yellow {
			border-radius: 0px 0px 0px 100px;
			background: $what-bg1;
		}

		&.bg-left-white {
			background: white;
			border-radius: 0px 100px 0px 0px;
		}
		&.bg-left-yellow {
			background: $what-bg1;
			z-index: -2;
		}
	}

	.content-container {
		overflow: auto;

		.content-left, .content-right {
			width: 50%;
			float: left;
			padding: 80px 60px 80px 60px;
		}

		.content-left {
			h1 {
				line-height: 1em;
				color: $yellow1;
				margin: 0;
				font-size: 5em;
			}
			hr {
				height: 3px;
				background: $what-bg1;
				border: 0;
				width: 55%;
				margin: 20px 0px;
			}
			p { 
				font-size: 1.25em;
				color: $text;
			}
		}

		.content-right {
			img {
				width: 80%;
				margin-right: auto;
				margin-left: auto;
				display: block;
			}
		}
	}


	& > .dummy-background-2 {
		position: relative;
		background: #4c4c4c;

		border-radius: 100px 0px 0px 0px;

	}

	& > .dummy-background-3 {
		position: relative;
		background: transparent;

		z-index: 1;

		background-image: url(../../images/what-item1-2.png);
		background-repeat: no-repeat;
		background-position: 70%; 
	}

	.expanded-content {
		position: relative;
		background: transparent;

		display: none;

		.dummy-background {
			z-index: 2;
		}

		span {
			display: inline-block;
		}

		.item-container {
			padding: 50px 55% 50px 20px;
		}

		.item-header {
			color: #f46783;

			font-size: 48px;
			font-weight: bold;

			letter-spacing: 1px;
			padding-left: 8px;
			line-height: 50px;
		}

		hr {
			background-color: #f46783;
			border: 0;
			height: 3px;
			width: 55%;
		}

		.item-content {
			color: #575757;
			font-size: 14px;
		}
	}

	.section-content {

		.content-title {
			background: $yellow2;
			position: relative;

			div.content-left {
				background: white;
				padding: 50px 60px 40px 50px;
				height: 100%;
				min-height: 100%;
				width: 50%;
				position: absolute;

				-webkit-border-radius: 0px 100px 0px 0px;
				-moz-border-radius: 0px 100px 0px 0px;
				border-radius: 0px 100px 0px 0px;

				overflow: hidden;


			}

			div.content-right {
				background: white;
				left: 50%;
				position: relative;
				height: inherit;
				width: 50%;
				padding: 50px 50px 50px 80px;
				z-index: 1;


				.dummy-background {
					top: 0;
					background: $yellow2;

					-webkit-border-radius: 0px 0px 0px 100px;
					-moz-border-radius: 0px 0px 0px 100px;
					border-radius: 0px 0px 0px 100px;
				}

				img {
					max-width: 100%;
					height: auto;

					align: middle;
				}
			}
		}

		.content-list {

			padding: 0px 20px 40px 20px;

			-webkit-border-radius: 100px 0px 0px 0px;
			-moz-border-radius: 100px 0px 0px 0px;
			border-radius: 100px 0px 0px 0px;

			.list-item {
				padding-top: 90px;


				@media only screen and (max-width: 600px) {
					padding-top: 30px;
				}
			}

			img {
				width: auto;
				max-height: 150px;
				height: 110px;  /* add span with 100px and make this auto */
				overflow: visible;
			}

			h2, p { color: white; }

			h2 {
				font-weight: bold;
				font-size: 95%;
				margin: 30px 50% 0px 0px;
			}

			p {
				font-size: 12px;
			}

			.expander {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

				color: white;
				height: 20px;
				width: 20px;
				
				&:hover {
					cursor: pointer;
					cursor: hand;
				}

				a {
					outline: none;
				}
			}

		}

	}

}